<div class="row">
  <div class="row hide-on-med-and-down">
    <div class="row options">
      <h2> Sort By: </h2>
      <ul class="sort"> 
        <li ng-click="changeSort('hot')"><a>Hot</a></li>
        <li ng-click="changeSort('new')"><a>New</a></li>
        <li ng-click="changeSort('random')"><a>Random</a></li>
        <li ng-click="changeSort('top')"><a>Top</a></li>
      </ul>
    </div>
    <div class="row options" ng-mouseleave="console.log('mouseleave')">
      <h2> Filter By: </h2>
      <ul ng-repeat="subreddit in subreddits">
        <li>{{subreddit.data.display_name}}</li>
      </ul>
      <button>Submit</button>
    </div>
  </div>
  <div class="row valign-wrapper card-panel card-action" ng-repeat="content in contents">
    <div class="col s10 m10 l10">
      <a href="{{content.data.url}}" target="_blank"> <h3> {{content.data.title}} </h3> </a>
    </div>
    <div class="col s2 m2 l2 valign">
      <p class="subreddit"> {{content.data.subreddit}} </p>
    </div>
    <div class="divider"></div>
  </div>
</div>